
@media (max-width: 768px) {
    .conoceme__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        color: black;
        font-size: 1em;
        background: rgba(64, 224, 208, 0.2);
        box-shadow: 9px 10px 10px -4px rgba(51, 50, 50, 0.363);
    }

    .container__section:first-of-type {
        gap: 0;
        /* Elimina el espacio entre los elementos hijos de la primera sección */
    }


    .conoceme__texto div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        margin-bottom: 8rem;
    }

    .header__texto {
        color: white;
        width: 80%;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        text-align: center;
    }

    .header__texto h1 {
        font-size: 1.1em;
    }

    .header__texto h2 {
        font-size: 1em;

    }

    .pc {
        display: none;
    }

    .conoceme__texto p {
        font-size: 1em;
        text-align: center;

    }

    .conoceme__container h1 {
        font-size: 2em;
    }

    .navbar {
        width: 100vw;
    }
    .overlay {
        visibility: hidden;
    }
    .contact__form__container--inputs, .contact__form__container--textarea {
        flex-direction: column;
        width: 80%;
    }

    .contact__text {
        width: 80%;
    }

    .container__section {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        max-width: 100%;
        gap: 2rem;
        margin-bottom: 8rem;
    }
    

    .container__description {
        padding: 0;
        margin: 0;
        width: 80%;
    }

    button {
        width: 80%;
    }

    dialog {
        width: 100%;
    
    }

    .patologias__text {
        text-align: center;
    }
    
    .container__socials__icons {
        width: 50%;
        
    }

    

    
}
