

:root {
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

/* Estilo para el checkbox (oculto) */
.menu-toggle {
    display: none;
}

.navbar {
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
    text-align: center;
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(32, 178, 170);
    z-index: 2;
    overflow-x: hidden;
    transition: 0.3s;
    display: none;
}

.navbar a {
    
    text-decoration: none;
    font-size: 25px;
    height: 60px;
    text-align: center;
    color: white;
    background-color: rgba(32, 178, 170);
    transition: background-color 0.3s ease;
    padding-top: 20px;
    
}

.navbar a:hover {
    background-color: rgba(26, 140, 134);
    
}

.navbar__header {
    padding-top: 15%;
    padding-left: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    font-size: 1em;
    color: white;
}

.navbar__header img {
    width: 30%;
    height: auto;
}


/* Fondo oscuro (overlay) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro semi-transparente */
    z-index: 2;
    /* Asegúrate de que el overlay esté por encima del contenido */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

/* Estilo para el ícono de hamburguesa */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

/* Cuando el checkbox está marcado, se abre el menú */
#menu-toggle:checked ~ .navbar {
    display: flex;
}

#menu-toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s 0s;
}


/* Mostrar el símbolo del menú hamburguesa por defecto */
.menu-icon::before {
    content: "☰"; /* Símbolo del menú hamburguesa */
    font-size: 30px;
}

/* Cambiar el contenido a "X" cuando el menú está abierto */
#menu-toggle:checked + .menu-icon::before {
    content: "✖"; /* Cambia el símbolo del menú hamburguesa a una "X" */
    color: white
}

.conoceme {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(images/hospital.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}



.conoceme__texto {
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.conoceme__texto h1 {
    font-size: 5rem;
}

.conoceme__texto__movil {
    display: none;
}

@media (max-width: 768px) {

    
}

.container__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* Ajusta la altura automáticamente */
    gap: 3rem;
    /* Espaciado entre elementos internos */

    margin-bottom: .5rem;
    /* Espacio entre esta sección y la siguiente */
    background: inherit;
    /* Mantiene el color de fondo alternado */
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
    /* Sombra hacia abajo */
    border-radius: 8px;
    /* Bordes redondeados */
}

.container__section h1 {
    margin-top: 3rem;
    /* Elimina márgenes superiores innecesarios */
    margin-bottom: 3rem;
    /* Espacio entre el h1 y el siguiente elemento */
}

.container__section:last-of-type {
    margin-bottom: 0;
    /* Elimina el margen inferior de la última sección */
}

.container__section img {
    width: 50%;
    max-width: 500px;
    height: auto;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    max-width: 100%;
    gap: 2rem;
    margin-bottom: 15rem;
}

.container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: #666;
    font-size: 10px;

}

.article__img {
    transition: transform 0.3s ease-in-out;
}

.article__img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.article__text {
    width: 80%;
    text-align: center;
}

.container article img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 10%;
}

.container__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: .5em;
}

.modal__title, .modal__description {
    width: 80%;
    margin: 0;
    text-align: center;
}

/* Oscurecer el fondo al abrir el modal */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    /* Fondo negro semi-transparente */
}



.patologias__text {
    font-size: 1.2rem;
    text-align: start;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Alternar colores de fondo */
.container__section:nth-child(odd) {
    background: #f4f4f4;
    /* Color blanco */
}

.container__section:nth-child(even) {
    background: rgba(64, 224, 208, 0.2);
    /* Color turquesa transparente */
}

#patologias h1 {
    margin-bottom: 0;
}

.contact__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr ;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 40px 0 0 40px;
    
}

.contact__form__container--inputs {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

.contact__form__container--textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
}

.contact__form__container--inputs input[type="text"],
.contact__form__container--inputs input[type="email"],
.contact__form__container--textarea textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.35em;
  padding: 0.75em 1em 0.75em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);

}

.contact__form__container--textarea textarea {
    min-height: 14em;
}

button {
  border-radius: 0.35em;
  color: #fff !important;
  text-decoration: none;
  padding: 0.75em 2.5em 0.75em 2.5em;
  min-width: 100px;
  width: 20%;
  background-color: #035754;
  border: 0;
  cursor: pointer;
  margin-bottom: 2em;
}



